body {
    background-color: yellow;
}

.pageHeader {
    text-align: center;
    h1 {
        font-size: 60px;
        padding: 0px;
        margin: 0px;
    }
    h4 {
        padding: 0px;
        margin: 0px;
        font-style: italic;
        color: gray;
    }
    margin-top: 1rem;
    margin-bottom: 2rem;
    
}

.todayBirds {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, minmax(320px, auto));
}

.birdCard {
    border: 1px solid rgba(0, 0, 0, .5);
    background-color: rgba(225, 225, 225, .8);
    border-radius: .5rem;
    height: 300px;
    text-align: center;
    box-shadow: 10px 5px 5px red;
}

.buttonLine {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    .subButton {
        padding: 1rem;
        border-radius: .5rem;
        border: 1px solid rgba(0, 0, 0, .5);
        box-shadow: 5px 2px 2px red;
    }
}

.allSpecies {
    text-align: center;
    color: lightslategray;
    font-size: small;
    padding-bottom: 1rem;
}

h3 {
    padding-right: 2rem;
}

h5 {
    color: lightslategray;
    padding-left: 3rem;
}